<%= form_for(@swanblog) do |f| %>
  <% if @swanblog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swanblog.errors.count, "error") %> prohibited this swanblog from being saved:</h2>

      <ul>
      <% @swanblog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :contest %><br>
    <%= f.text_field :contest %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
