<p id="notice"><%= notice %></p>

<h1>Listing Swanblogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Contest</th>
      <th>Text</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @swanblogs.each do |swanblog| %>
      <tr>
        <td><%= swanblog.title %></td>
        <td><%= swanblog.contest %></td>
        <td><%= swanblog.text %></td>
        <td><%= swanblog.date %></td>
        <td><%= link_to 'Show', swanblog %></td>
        <td><%= link_to 'Edit', edit_swanblog_path(swanblog) %></td>
        <td><%= link_to 'Destroy', swanblog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swanblog', new_swanblog_path %>
