<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @swanblog.title %>
</p>

<p>
  <strong>Contest:</strong>
  <%= @swanblog.contest %>
</p>

<p>
  <strong>Text:</strong>
  <%= @swanblog.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @swanblog.date %>
</p>

<%= link_to 'Edit', edit_swanblog_path(@swanblog) %> |
<%= link_to 'Back', swanblogs_path %>
